body {
    color: rgb(37, 13, 13);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cabecera {
    width: 500px;
    margin: auto;
   
}

.post {
    border: solid;
    width: 500px;
    margin: auto;
}