* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {

    color: blue;

    background-image: url("../images/js.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.cabecera {
    background: orange;
    width: 500px;
    margin: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: aqua;
    border-radius: 50px 50px 0 0;
    
    
   
}

.post {
    border: solid;
    width: 500px;
    margin: auto;
    background-color: bisque;

}



.footer {
	border: solid;
	background-color: orange;
	border-radius: 0 0 50px 50px;
}

